    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Rólunk</h2>
                <p>Az egyesület legfőbb célja a középkori - azon belül főként a honfoglaláskori - lovas és lovasíjász hagyományaink felélesztése, ápolása.</p>
                <p> Az egyesület hivatalos formában 2001-ben alakult meg.</p>
				<p>Az egyesület megalakulásáról Pámer László, az egyesület elnöke:</p>
                <p>"A Baranya megyei lovas hagyományőrzők közül az egyik legnépesebb, legtöbb lovat számláló egyesület a Déli Gyepüvédők."</p>
            </div>
        </div>
    </section>